main {
    padding: 20px;
    margin-top: 2rem;
    margin-left: 190px;
    width: calc(100% - 210px);
    box-sizing: border-box;
 }
 
 /* Container principal */
 .container-main {
    width: 90%; /* Define a largura do container para centralizar */
    margin: auto; /* Centraliza o container */
    text-align: justify; /* Texto justificado */
 }
 
 .container-main .campo-de-pesquisa {
    width: auto;
    height: 150px;
    align-items: center;
    display: flex;
 }
 
 .campo-de-pesquisa label {
    font-weight: bold;
    color: var(--color3);
 }
 
 .campo-de-pesquisa input {
    border-radius: 8px;
    border-style: solid;
    border-color: var(--color4);
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.2rem;
    background-color: var(--color1);
    color: var(--color3);
    outline-color: var(--color4);
 }
 
 .campo-de-pesquisa button {
    background-color: var(--color5);
    border-style: none;
    width: 150px;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
    color: var(--color3);
    margin-left: 3rem;
 }
 
 /* Estilo para a tabela */
 .container-main .container-tabela {
    width: 100%;
    max-height: 550px; /* Altura máxima para 30 linhas */
    overflow-y: auto; /* Rolagem vertical */
    overflow-x: auto; /* Rolagem horizontal */
 }
 
 table {
    width: 100%; /* Certifica-se que a tabela ocupa todo o espaço */
    border-collapse: collapse;
    margin-top: 20px;
    font-weight: 600;
    color: var(--color3);
    overflow-y: auto; /* Rolagem vertical */
 }

 table, th, td {
    border: 1px solid var(--color4);
 }
 
 th, td {
    padding: 8px; /* Mais espaço nas células */
    text-align: left;
    font-size: 14px;
 }
 
 /* Estilo para o cabeçalho da tabela */
 th {
    background-color: var(--color4);
    font-weight: bold;
    color: #000000;
    padding: 4px;
 }
 
 /* Estilo para as linhas alternadas */
 tbody tr:nth-child(even) {
    background-color: #f9f9f95e;
 }
 
 /* Estilo para as linhas ao passar o mouse */
 tbody tr:hover {
    background-color: var(--color5);
 }
 
 /* Estilo para as células vazias (quando nenhum dado é encontrado) */
 td[colspan="17"] {
    text-align: center;
    color: #888;
    font-style: italic;
 }

 
 