:root {
    --background: #2e2e30;
    --text-common: #D3D4D7;
    --section-color: #16181D;
    --text-grey:#bebebe25;
  }

.header{
    background-color: var();
    height: 60px;
    overflow: hidden;
}
.header .imagemLogo{
    margin-left:20px;
    width: 10%;
    height: 100%;
}
.information_404 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: var(--background);
    margin-top: 0rem;
}

.information_container_404 {
    padding: 2rem;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center; 
    overflow: hidden;
}
 .imagem{
    width: 39%;
    height: 100%;
 }
 @media (max-width: 800px) {

 .imagem{
    width: 90%;
    height: 100%;
 }
 }