:root {
   --color1: #2e2e30; /* Fundo */
   --color2: #242424;  /* Side & Header */
   --color3: #dddbd8; /* Texto */
   --color4: #ea9029; /* Texto 2 */
   --color5: #de900059; /* Hover */
}

* {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   color: var(--color3);
   overflow-x: hidden;
}

body {
   background-color: var(--color1);
}
body::-webkit-scrollbar {
   padding: 0;
   height: 9px;
}

body::-webkit-scrollbar-track {
   background: var(--color2);
}

body::-webkit-scrollbar-thumb {
   background: var(--color5);
}

body::-webkit-scrollbar-thumb:hover {
   background: var(--color4);
}
/* Cabeçalho do site */
header {
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 99;
   height: auto;
   background-color: var(--color2);
   padding: 5px;
}

.container-header {
   display: flex;
   justify-content: space-between;
}

.container-header .img {
   width: 200px;
   padding: 0;
   margin-left: 1rem;
}

.img img {
   width: 70%;
}

.img h1 {
   margin-top: 10%;
   margin-left: 8px;
}

.menu {
   width: auto;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   gap: 10px;
   margin-right: 2rem;
   height: auto;
}

.menu button {
   background-color: var(--color4);
   border-style: none;
   padding: 6px;
   height: 40px;
   border-radius: 4px;
   font-weight: bold;
   color: var(--color2);
}

.menu button:hover {
   background-color: var(--color2);
   color: var(--color3);
   border-style: solid;
   border-width: 1px;
   border-color: var(--color4);
   transition: background-color 0.2s ease, transform 0.1s ease; /* Suavizar a transição */
}
.menu button:active {
   background-color: var(--color2); /* Cor do botão ao ser clicado */
   transform: scale(0.95); /* Leve efeito de redução ao clicar */
}

.side-bar {
   width: 180px;
   background-color: var(--color2);
   padding: 10px;
   float: left;
   box-sizing: border-box;
   margin-top: 5rem;
   position: fixed;
   height: calc(100vh - 60px); /* Ajuste a altura conforme necessário */
   bottom: 0; /* Garante que ela vá até o final da tela */
}
.container-side {
   width: 100%;
   height: auto;
   margin-top: 2rem;
}

.container-side li {
   list-style: none;
   margin-bottom: 1rem;
}

.container-side li a {
   color: var(--color4);
   font-weight: bold;
   text-decoration: none;
   margin-left: 10px;
   margin-bottom: 1rem;
}

.container-side li a:hover {
   color: var(--color3);
   font-size: large;
}

/* Main */
main {
   padding: 20px;
   margin-top: 2rem;
   margin-left: 190px;
   width: calc(100% - 210px);
   min-height: calc(100vh - 60px); /* Deixa espaço para o footer */
   box-sizing: border-box;
}

/* Container principal */
.container-main {
   width: 90%; /* Define a largura do container para centralizar */
   margin: auto; /* Centraliza o container */
   text-align: justify; /* Texto justificado */
}

.container-main h1 {
   text-align: center;
   font-size: 35px;
   color: var(--color3);
   margin-bottom: 2rem;
   margin-top: 9rem;
}

.container-main span {
   color: var(--color4);
   font-weight: bold;
}

/* Estilo do parágrafo */
.container-main p {
   width: 70%;
   margin-left: auto;
   margin-right: auto;
   font-size: 18px; /* Ajuste do tamanho da fonte */
   line-height: 1.6; /* Espaçamento entre linhas para melhorar a legibilidade */
   text-align: justify; /* Alinha o texto de forma justificada */
   margin-bottom: 1.5rem; /* Espaço inferior para separar seções */
}
/*campo-de-pesquisa*/
.container-main .campo-de-pesquisa {
   width: auto;
   height: 150px;
   align-items: center;
   display: flex;
}

.campo-de-pesquisa label {
   font-weight: bold;
   color: var(--color3);
}

.campo-de-pesquisa input {
   border-radius: 8px;
   border-style: solid;
   border-color: var(--color4);
   margin-left: 1rem;
   margin-right: 1rem;
   padding: 0.2rem;
   background-color: var(--color1);
   color: var(--color3);
   outline-color: var(--color4);
}

.campo-de-pesquisa button {
   background-color: var(--color4);
   border-style: none;
   width: 150px;
   height: 40px;
   border-radius: 4px;
   font-weight: bold;
   color: var(--color2);
   margin-left: 3rem;
}
.campo-de-pesquisa button:hover{
   background-color: var(--color2); /* Cor do botão ao ser clicado */
   color: var(--color3);
   transition: background-color 0.2s ease, transform 0.1s ease; /* Suavizar a transição */
} 
.campo-de-pesquisa button:active {
   background-color: var(--color2); /* Cor do botão ao ser clicado */
   transform: scale(0.95); /* Leve efeito de redução ao clicar */
   color: var(--color3);
}
/*Fim campo-de-pesquisa*/


/* Estilo para a tabela */
.container-main .container-tabela {
   width: 100%;  
   max-height: 550px; /* Altura máxima */
   overflow: hidden; /* Remover rolagem do container */
}

table {
   display: block; /* Permitir rolagem dentro da tabela */
   width: 100%; 
   max-height: 450px; /* Definir altura máxima para a tabela */
   overflow-x: auto; /* Rolagem horizontal na tabela */
   border-collapse: collapse;
   margin-top: 30px;
   font-weight: 600;
   color: var(--color3);
   margin-bottom: 3rem;
}

table::-webkit-scrollbar {
   padding: 0;
   height: 9px;
}

table::-webkit-scrollbar-track {
   background: var(--color2);
}

table::-webkit-scrollbar-thumb {
   background: var(--color5);
}

table::-webkit-scrollbar-thumb:hover {
   background: var(--color4);
}
table select{
   background-color: var(--color4);
   border-style: none;
   padding: 5px;
   width: auto;
   border-radius: 4px;
   font-weight: bold;
   color: var(--color2);
}

table select:hover {
   background-color: var(--color2);
   color: var(--color3);
   transition: background-color 0.2s ease, transform 0.1s ease; /* Suavizar a transição */
}
select option{
   background-color: var(--color2);
}

table, th, td {
   border: 1px solid var(--color4);
}
th{
   padding: 8px; /* Mais espaço nas células */
   text-align: center;
   font-size: 14px;
   white-space: nowrap; /* Impedir quebra de linha nas células */
}
td{
   padding: 8px; /* Mais espaço nas células */
   text-align: left;
   font-size: 14px;
   white-space: nowrap; /* Impedir quebra de linha nas células */
}
td button {
   background-color: var(--color4);
   border-style: none;
   padding: 5px;
   width: 100%;
   border-radius: 4px;
   font-weight: bold;
   color: var(--color2);
   transition: background-color 0.2s ease, transform 0.1s ease; /* Suavizar a transição */
}

td button:hover {
   background-color: var(--color2); /* Mudar cor ao passar o mouse */
   color: var(--color3);
}

td button:active {
   background-color: var(--color2); /* Cor do botão ao ser clicado */
   transform: scale(0.95); /* Leve efeito de redução ao clicar */
}


/* Estilo para as colunas fixas */
th:nth-child(1), td:nth-child(1) {
   position: sticky;
   left: 0;
   width: 100px; /* Definir largura apropriada para a coluna */
   background-color: var(--color1); 
   z-index: 3;
}

th:nth-child(2), td:nth-child(2) {
   position: sticky;
   left: 0; /* Removido o valor fixo, que será calculado via JS */
   width: 150px; 
   background-color: var(--color1);
   z-index: 3;
}

th:nth-child(3), td:nth-child(3) {
   position: sticky;
   left: 0; /* Removido o valor fixo, que será calculado via JS */
   width: 100px; 
   background-color: var(--color1);
   z-index: 3;
}
th:nth-child(1),
th:nth-child(2),
th:nth-child(3){
   background-color: var(--color4);
   position: sticky;
   z-index: 5;
}



/* Estilo para o cabeçalho da tabela */
th {
   background-color: var(--color4);
   font-weight: bold;
   color: #000000;
   padding: 4px;
   position: sticky; /* Fixa o cabeçalho ao topo */
   top: 0; /* Fixa na parte superior da tabela */
   z-index: 2; /* Garante que o cabeçalho fique acima das células */
}


/* Estilo para as linhas alternadas */
tbody tr:nth-child(even) {
   background-color: #0e0e0f54;
}

/* Estilo para as linhas ao passar o mouse */
tbody tr:hover {
   background-color: var(--color5);
}

/* Estilo para as células vazias (quando nenhum dado é encontrado) */
td[colspan="17"] {
   text-align: center;
   color: #888;
   font-style: italic;
}
